// Code for the add event form

@mixin event-submission-h2 {
    margin-top: 10px;
    font-size: 20px;
}

h2.event-submission-preview {
    @include event-submission-h2;
    margin-bottom: 5px;
}

/* Container for the whole form */
.new-event-form {
    $width: 650px;
    $label-area-width:   $width * 0.2;
    $control-area-width: $width * 0.8;

    $control-full-width:     $control-area-width * 0.9;
    $control-narrower-width: $control-area-width * 0.6;

    width: $width;

    /* Section labels are bigger than normal */
    h2.event-submission-section {
        @include event-submission-h2;
    }

    $margin-below-controls: 20px;

    /* A red that's not too bright */
    $error-border-color: hsl(0, 100%, 30%);

    /* Labels for the individual controls on the left side */
    .event-submission-label {
        width: $label-area-width;
        clear: both;
        float: left;

        margin-bottom: $margin-below-controls;

        &.error {
            /* Wrap the label in a span, so the underline only goes
             * under the text, not the whole width of the div.
             */
            span {
                border-bottom-style: solid;
                border-bottom-color: $error-border-color;
                border-bottom-width: 3px;
            }
        }
    }

    /* Controls, instructions, etc. that go with a label */
    .new-event-controls {
        width: $control-area-width;
        float: right;

        margin-bottom: $margin-below-controls;
    }

    h3.event-submission-label {
        font-size: 16px;
    }
    div.event-submission-label h3 {
        font-size: 16px;
    }

    input.fullwidth {
        width: $control-full-width;
    }

    input.narrower {
        width: $control-narrower-width;
    }

    /* textarea for entering event description */
    #event_descr {
        width: $control-full-width;
    }

    input[type='text'], input[type='email'], input[type='url'] {
        /* override a setting in the theme's stylesheet */
        margin-bottom: 0px;
    }

    /* Actions at the bottom of the form */
    .new-event-actions {
        clear: both;

        margin-top: 15px;
        padding: 5px;
        background-color: hsl(0, 0%, 50%);

        input[type='submit'] {
            font-size: 17px;
            font-weight: bold;
        }
    }

    label.disabled {
        color: grey;
    }

    /* help text */
    .help, tr.dates-table-tip {
        font-style: italic;

        &.hideemail {
            margin-left: 20px;
        }
    }

    #hideemail_controls {
        margin-top: 5px;
    }

    #datelist-container {
        $border-width: 1px;
        $side-padding-width: 20px;

        width: $control-area-width - (2 * $border-width) - (2 * $side-padding-width);

        max-height: 300px;
        overflow-y: auto;

        border: $border-width solid hsl(0, 0%, 85%);

        padding-top:    5px;
        padding-bottom: 5px;
        padding-right:  $side-padding-width;
        padding-left:   $side-padding-width;
    }

    .dates-table-tip td {
        border-top: none;
    }

    /* Indent the radio button */
    #event-during-festival {
        margin-left: 20px;
    }

    .optional {
        color: gray;
        font-size: 12px;
    }

    /* Error message field */
    .error-messages {
        border-style: solid;
        border-color: $error-border-color;
        border-width: 2px;

        margin: 0px;
        padding: 5px;
        padding-left: 10px;

        /* Tighten up spacing between intro paragraph & list */
        p {
            margin-bottom: 0px;
        }
        ul {
            margin-top: 0px;
        }
    }
}






