/*
Name: Velopalooza 
Author: Evan
Version: 0.1
Template: twentyeleven
*/

@import url('../twentyeleven/style.css');


/********************************************/
#simplemodal-data {
    padding: 5px;
    background-color: white;
    border: 1px solid;
}

#simplemodal-overlay {
    background-color: black;
}
